*.iml
.gradle
app/release/*
app/standalone/*
/local.properties
keystore.properties
*.keystore
*.jks
*.p12
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/misc.xml
app/develop/
.idea/.name
.idea/copilot/
