<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="name.mikanoshi.customiuizer">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
	<uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
	<uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.DUMP" />

	<uses-permission android:name="com.miui.securitycenter.permission.ACCESS_SECURITY_CENTER_PROVIDER" />

	<application
        android:allowBackup="false"
		android:backupAgent="name.mikanoshi.customiuizer.utils.PrefBackupAgent"
		android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
		android:roundIcon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MainApplication"
		android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
        	android:name=".MainActivity"
        	android:label="@string/title_activity_main"
			android:theme="@style/AppTheme"
			android:configChanges="keyboardHidden|orientation|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
				<category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
			</intent-filter>
		</activity>

		<activity-alias
			android:label="@string/title_activity_main"
			android:name=".GateWayLauncher"
			android:targetActivity=".MainActivity"
			android:enabled="true"
			android:excludeFromRecents="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity-alias
			android:label="@string/title_activity_main"
			android:name=".GateWaySettings"
			android:targetActivity=".MainActivity"
			android:enabled="true"
			android:excludeFromRecents="true">
			<intent-filter>
				<action android:name="com.android.settings.action.EXTRA_SETTINGS"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<meta-data android:name="com.android.settings.category" android:value="com.android.settings.category.customiuizer" />
			<meta-data android:name="com.android.settings.icon" android:resource="@drawable/ic_launcher" />
			<meta-data android:name="com.android.settings.icon_tintable" android:value="true" />
			<meta-data android:name="com.android.settings.title" android:resource="@string/app_name" />
		</activity-alias>

		<activity
			android:name=".Credentials"
			android:label="@string/credentials_unlock"
			android:theme="@style/Invisible"
			android:icon="@drawable/ic_credentials"
			android:launchMode="singleInstance"
			android:excludeFromRecents="true"
			android:finishOnTaskLaunch="true"
			android:configChanges="keyboardHidden|orientation|screenSize">
		</activity>

		<activity-alias
			android:name=".CredentialsLauncher"
			android:targetActivity=".Credentials"
			android:enabled="false">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity-alias>

		<activity
			android:name=".CredentialsShortcut"
			android:label="@string/credentials_unlock"
			android:theme="@style/Invisible"
			android:icon="@drawable/ic_credentials"
			android:launchMode="singleInstance"
			android:finishOnTaskLaunch="true"
			android:taskAffinity=""
			android:excludeFromRecents="true">
			<intent-filter android:label="@string/credentials_unlock">
				<action android:name="android.intent.action.CREATE_SHORTCUT"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<service
			android:name=".qs.QuickSettingsService"
			android:icon="@drawable/ic_qs_autorotate_disabled"
			android:label="@string/qs_toggle_autorotate"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
			android:enabled="false">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>

		<activity
			android:name=".crashreport.Dialog"
			android:theme="@style/Invisible"
			android:launchMode="singleTask"
			android:excludeFromRecents="true"
			android:finishOnTaskLaunch="true"
			android:configChanges="keyboardHidden|orientation|screenSize" />

		<provider
			android:name=".SharedPrefsProvider"
			android:authorities="name.mikanoshi.customiuizer.provider.sharedprefs"
			android:grantUriPermissions="true"
			android:exported="true"
			android:directBootAware="true"
			tools:ignore="ExportedContentProvider" />

		<receiver
			android:name=".utils.HelperReceiver"
			android:exported="true"
			android:enabled="true"
			android:directBootAware="true">
			<intent-filter>
				<action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
				<action android:name="name.mikanoshi.customiuizer.SAVEEXCEPTION" />
			</intent-filter>
		</receiver>

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposedminversion" android:value="82+" />
        <meta-data android:name="xposeddescription" android:value="Customize MIUI to your liking" />
		<meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIRIa0lKCzoQ_qe_xfqaQCC4EQhwk3CWeRwzFrww" />
    </application>

</manifest>